:org.apache.felix.configadmin.revision:=L"32"
Ess.target="(&(enabled\=true)(!(service.pid\=Ess.Cluster.702c75a1-1eb4-42b6-9ee3-b562a37f3934))(|(id\=ess0)))"
alias=""
enabled=B"true"
ess.ids=[ \
  "ess0", \
  ]
id="essC"
service.factoryPid="Ess.Cluster"
service.pid="Ess.Cluster.702c75a1-1eb4-42b6-9ee3-b562a37f3934"
startStop="START"
