:org.apache.felix.configadmin.revision:=L"4"
alias=""
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Levl.Symmetric.Balancing.0653b301-7f3f-442d-8bda-751dac639e3a))(|(id\=ess0)))"
id="ctrlLevlBalancing0"
levl.workflow.id="levlWorkflow0"
levl.workflow.target="(enabled\=true)"
levlWorkflow.target="(&(enabled\=true)(!(service.pid\=Controller.Levl.Symmetric.Balancing.0653b301-7f3f-442d-8bda-751dac639e3a))(|(id\=levlWorkflow0)))"
meter.id="meterGrid"
meter.target="(&(enabled\=true)(!(service.pid\=Controller.Levl.Symmetric.Balancing.0653b301-7f3f-442d-8bda-751dac639e3a))(|(id\=meterGrid)))"
service.factoryPid="Controller.Levl.Symmetric.Balancing"
service.pid="Controller.Levl.Symmetric.Balancing.0653b301-7f3f-442d-8bda-751dac639e3a"
targetGridSetpoint=I"0"
