:org.apache.felix.configadmin.revision:=L"7"
alias="Ess.Power"
d=D"4591870180066957722"
debugMode=B"true"
enablePid=B"true"
i=D"4599075939470750515"
id="_power"
p=D"4599075939470750515"
service.bundleLocation="?"
service.pid="Ess.Power"
strategy="OPTIMIZE_BY_MOVING_TOWARDS_TARGET"
symmetricMode=B"true"
