:org.apache.felix.configadmin.revision:=L"1"
aggregationPriority="LOW"
alias=""
apiTimeout=I"60"
apikey="edge1"
debugMode=B"false"
enabled=B"true"
id="ctrlBackend0"
persistencePriority="HIGH"
proxyAddress=""
proxyPort=I"0"
proxyType="HTTP"
resendPriority="HIGH"
service.factoryPid="Controller.Api.Backend"
service.pid="Controller.Api.Backend.c76ed997-16b1-49dd-95e1-78986bf703c0"
uri="ws://localhost:8081"
