:org.apache.felix.configadmin.revision:=L"5"
alias=""
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Levl.Workflow.91a7bd7f-2b49-47bc-98d9-9fe2a8ab82bc))(|(id\=ess0)))"
id="levlWorkflow0"
levlWorkflowSavedState.target="(&(enabled\=true)(!(service.pid\=Levl.Workflow.91a7bd7f-2b49-47bc-98d9-9fe2a8ab82bc)))"
meter.id="meterGrid"
meter.target="(&(enabled\=true)(!(service.pid\=Levl.Workflow.91a7bd7f-2b49-47bc-98d9-9fe2a8ab82bc))(|(id\=meterGrid)))"
physical.soc.lower.bound.percent=I"0"
physical.soc.upper.bound.percent=I"100"
service.factoryPid="Levl.Workflow"
service.pid="Levl.Workflow.91a7bd7f-2b49-47bc-98d9-9fe2a8ab82bc"
