:org.apache.felix.configadmin.revision:=L"56363"
_lastChangeAt="2024-08-28T18:38:43"
_lastChangeBy="admin:\ Admin"
actual.levl.power.w=I"-3000"
alias=""
current.discharge.request.active=B"true"
current.discharge.request.deadline="2030-12-31T23:59:59.999999999"
current.discharge.request.energy.ws="-1800000"
current.discharge.request.id="next-request"
current.discharge.request.start="2020-12-31T23:59:59.999999999"
current.discharge.request.timestamp=""
current.influence.sell.to.grid=B"true"
current.request.realized.discharge.energy.ws="-24000"
current.request.remaining.discharge.energy.ws="-1776000"
efficiency.percent.multiplied.by.hundred=I"10000"
enabled=B"true"
grid.power.limit.w.lower=I"-10000"
grid.power.limit.w.upper=I"10000"
id="levlWorkflowState0"
last.discharge.request.timestamp=""
last.request.realized.discharge.energy.ws="0"
levl.soc.constraints.lower.logical.percent=I"5"
levl.soc.constraints.lower.physical.percent=I"0"
levl.soc.constraints.upper.logical.percent=I"90"
levl.soc.constraints.upper.physical.percent=I"100"
next.discharge.power.w=I"-1779000"
next.discharge.request.active=B"false"
next.discharge.request.deadline="+999999999-12-31T23:59:59.999999999"
next.discharge.request.energy.ws="0"
next.discharge.request.id=""
next.discharge.request.start="+999999999-12-31T23:59:59.999999999"
next.discharge.request.timestamp=""
next.influence.sell.to.grid=B"false"
primary.use.case.active.power.w=I"0"
service.factoryPid="Levl.Workflow.State"
service.pid="Levl.Workflow.State.10a04693-11bc-4265-967b-47844f4d3eee"
total.discharge.energy.ws.at.battery.scaled.with.efficiency="-3624000"
total.realized.discharge.energy.ws="-3624000"
