:org.apache.felix.configadmin.revision:=L"2"
alias=""
enabled=B"true"
ess.id="ess0"
id="ctrlPeakShaving0"
levl.workflow.id="levlWorkflow0"
levl.workflow.target="(enabled\=true)"
meter.id="meterGrid"
peakShavingPower=I"1000"
rechargePower=I"500"
service.factoryPid="Controller.Levl.Symmetric.PeakShaving"
service.pid="Controller.Levl.Symmetric.PeakShaving.22e52df0-97be-4275-9763-ec00ee522414"
