:org.apache.felix.configadmin.revision:=L"56364"
_lastChangeAt="2024-08-28T18:43:31"
_lastChangeBy="admin:\ Admin"
actual.levl.power.w=I"1957"
alias=""
current.discharge.request.active=B"true"
current.discharge.request.deadline="2030-12-31T23:59:59.999999999"
current.discharge.request.energy.ws="900000"
current.discharge.request.id="next-request"
current.discharge.request.start="2020-12-31T23:59:59.999999999"
current.discharge.request.timestamp=""
current.influence.sell.to.grid=B"true"
current.request.realized.discharge.energy.ws="16054"
current.request.remaining.discharge.energy.ws="883946"
efficiency.percent.multiplied.by.hundred=I"10000"
enabled=B"true"
grid.power.limit.w.lower=I"-1000"
grid.power.limit.w.upper=I"1000"
id="levlWorkflowState0"
last.discharge.request.timestamp=""
last.request.realized.discharge.energy.ws="0"
levl.soc.constraints.lower.logical.percent=I"15"
levl.soc.constraints.lower.physical.percent=I"0"
levl.soc.constraints.upper.logical.percent=I"91"
levl.soc.constraints.upper.physical.percent=I"100"
next.discharge.power.w=I"885903"
next.discharge.request.active=B"false"
next.discharge.request.deadline="+999999999-12-31T23:59:59.999999999"
next.discharge.request.energy.ws="0"
next.discharge.request.id=""
next.discharge.request.start="+999999999-12-31T23:59:59.999999999"
next.discharge.request.timestamp=""
next.influence.sell.to.grid=B"false"
primary.use.case.active.power.w=I"54"
service.factoryPid="Levl.Workflow.State"
service.pid="Levl.Workflow.State.10a04693-11bc-4265-967b-47844f4d3eee"
total.discharge.energy.ws.at.battery.scaled.with.efficiency="16054"
total.realized.discharge.energy.ws="16054"
