:org.apache.felix.configadmin.revision:=L"2"
_lastChangeAt="2023-09-26T11:41:56"
_lastChangeBy="jonas.flint@andrena.de:\ jonas\ flint"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.5fe739fc-e65e-4379-94b6-65a8a95f605f))(|(id\=datasource0)))"
enabled="true"
id="meter1"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.5fe739fc-e65e-4379-94b6-65a8a95f605f"
