:org.apache.felix.configadmin.revision:=L"1"
_lastChangeAt="2023-09-26T11:39:41"
_lastChangeBy="jonas.flint@andrena.de:\ jonas\ flint"
alias=""
enabled="true"
id="meter0"
service.factoryPid="Simulator.GridMeter.Reacting"
service.pid="Simulator.GridMeter.Reacting.f5ebb3d7-762c-4736-ba69-dab2024d3ad6"
