:org.apache.felix.configadmin.revision:=L"2"
_lastChangeAt="2023-09-26T11:43:59"
_lastChangeBy="jonas.flint@andrena.de:\ jonas\ flint"
alias=""
datasource.id="datasource1"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.ProductionMeter.Acting.0643464b-efb0-4449-b551-c3b3163c07ef))(|(id\=datasource1)))"
enabled="true"
id="meter2"
service.factoryPid="Simulator.ProductionMeter.Acting"
service.pid="Simulator.ProductionMeter.Acting.0643464b-efb0-4449-b551-c3b3163c07ef"
