:org.apache.felix.configadmin.revision:=L"16"
alias=""
conditionalTermination=B"false"
enabled=B"true"
endCondition="CAPACITY_CHANGED"
ess.id="essC"
ess.target="(enabled\=true)"
id="ctrlFixStateOfCharge0"
isRunning=B"true"
selfTermination=B"true"
service.factoryPid="Controller.Ess.FixStateOfCharge"
service.pid="Controller.Ess.FixStateOfCharge.9e4d8af7-fcc7-4e28-8bb3-b0bad91af423"
targetSoc=I"90"
targetTime=""
targetTimeBuffer=I"0"
targetTimeSpecified=B"false"
terminationBuffer=I"0"
