:org.apache.felix.configadmin.revision:=L"10"
_lastChangeAt="2023-09-26T11:43:23"
_lastChangeBy="jonas.flint@andrena.de:\ jonas\ flint"
alias=""
enabled=B"true"
id="datasourceProduction"
service.factoryPid="Simulator.Datasource.Single.Direct"
service.pid="Simulator.Datasource.Single.Direct.2ec64792-4670-48d8-84dc-128c1e2428a6"
timeDelta=I"-1"
values=i[ \
  "0", \
  ]
