:org.apache.felix.configadmin.revision:=L"3"
_lastChangeAt="2023-09-26T11:44:34"
_lastChangeBy="jonas.flint@andrena.de:\ jonas\ flint"
alias=""
capacity=I"10000"
enabled=B"true"
gridMode="ON_GRID"
id="ess0"
initialSoc=I"50"
maxApparentPower=I"10000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.b90fbfbe-8cbd-4964-8547-e16083ee6e52"
