:org.apache.felix.configadmin.revision:=L"4"
alias=""
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Levl.Balancing.Controller.f62bc49b-2082-4886-8ef0-423cdf962118))(|(id\=ess0)))"
id="ctrlLevlBalancing0"
levl.workflow.id="levlWorkflow0"
levl.workflow.target="(enabled\=true)"
levlPowerW=I"0"
levlWorkflow.target="(&(enabled\=true)(!(service.pid\=Levl.Balancing.Controller.f62bc49b-2082-4886-8ef0-423cdf962118))(|(id\=levlWorkflow0)))"
meter.id="meter0"
meter.target="(&(enabled\=true)(!(service.pid\=Levl.Balancing.Controller.f62bc49b-2082-4886-8ef0-423cdf962118))(|(id\=meter0)))"
service.factoryPid="Levl.Balancing.Controller"
service.pid="Levl.Balancing.Controller.f62bc49b-2082-4886-8ef0-423cdf962118"
targetGridSetpoint=I"0"
