:org.apache.felix.configadmin.revision:=L"7"
alias=""
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Levl.Workflow.4c960326-fcd9-406b-916d-c190db9a300a))(|(id\=ess0)))"
id="levlWorkflow0"
levl.charge.timeframe.sec=I"100000000"
levl.power.W=I"1500"
levl.request.id="s223"
realized.discharge.power.w=I"100"
service.factoryPid="Levl.Workflow"
service.pid="Levl.Workflow.4c960326-fcd9-406b-916d-c190db9a300a"
soc.lower.bound.percent=I"0"
soc.upper.bound.percent=I"100"
