:org.apache.felix.configadmin.revision:=L"56355"
_lastChangeAt="2023-11-17T11:56:55"
_lastChangeBy="admin:\ Admin"
actual.levl.power.w=I"0"
alias=""
current.discharge.request.active=B"false"
current.discharge.request.deadline="2020-12-31T23:59:59.999999999"
current.discharge.request.energy.ws=I"0"
current.discharge.request.id=""
current.discharge.request.start="2020-12-31T23:59:59.999999999"
current.request.realized.discharge.energy.ws=I"0"
current.request.remaining.discharge.energy.ws=I"0"
current.influence.sell.to.grid=B"true"
efficiency.percent.multiplied.by.hundred=I"10000"
enabled=B"true"
grid.power.limit.w.lower=I"-10000"
grid.power.limit.w.upper=I"10000"
id="levlWorkflowState0"
last.request.realized.discharge.energy.ws=I"0"
levl.soc.constraints.lower.logical.percent=I"5"
levl.soc.constraints.lower.physical.percent=I"0"
levl.soc.constraints.upper.logical.percent=I"90"
levl.soc.constraints.upper.physical.percent=I"100"
next.discharge.power.w=I"0"
next.discharge.request.active=B"true"
next.discharge.request.deadline="2030-12-31T23:59:59.999999999"
next.discharge.request.energy.ws=I"1800000"
next.discharge.request.id="next-request"
next.discharge.request.start="2020-12-31T23:59:59.999999999"
next.influence.sell.to.grid=B"true"
primary.use.case.active.power.w=I"0"
service.factoryPid="Levl.Workflow.State"
service.pid="Levl.Workflow.State.10a04693-11bc-4265-967b-47844f4d3eee"
total.discharge.energy.ws.at.battery.scaled.with.efficiency=I"-3600000"
total.realized.discharge.energy.ws=I"-3600000"
